/* game board table */



#game {
  display: flex;
  justify-content: center;
  align-items: center;
}

#board td {
  width: 60px;
  height: 60px;
  border: solid 1px #666;
  margin: 0 auto;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  animation-name: drop-animation; 
  animation-duration: 2s;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.player1{
    color: blue;
    background-color: blue;
}

.player2{
    color: red;
    background-color: red;
}
/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

.title {
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

body {
 background-color: black;
}

.restart-button {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.restart:hover {
  background-color: gray; 
  color: white;
}

.restart {
   background-color: black; 
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: 'Press Start 2P', cursive;
}


@keyframes drop-animation {
  from {
    transform: translateY(-400px);
  }
  to {
    transform: translateY(0px);
  }
}